<p style="text-align: center;font-size: 50px;">{{mydept}}</p>
<style>
  table {
    margin: 20px;
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    padding: 8px 12px;
    border: 1px solid #ddd;
    text-align: center;
    background-color: #878dff;
  }

  th {
    background-color: #4a53ff;
  }
</style>
<table>
  <tr>
    <th>College name</th>
    <td>Kongu Engineering College</td>
  </tr>
  <tr>
    <th>Year</th>
    <td>1984</td>
  </tr>
  <tr>
    <th>Location</th>
    <td>Perundurai</td>
  </tr>
</table>
