body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ff0000;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

header nav {
  margin-top: 10px;
}

header nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-size: 16px;
}

header nav a:hover {
  text-decoration: underline;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px); /* 100vh minus the height of the header */
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
}

.intro {
  text-align: center;
}

.intro p {
  margin: 20px 0;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
}

.cta-button:hover {
  background-color:#eb6868;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

input, select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

.form-buttons button {
  flex: 1;
  margin: 5px;
}

button#update-btn {
  background-color: #28a745;
}

button#update-btn:hover {
  background-color: #e0a800;
}

button#delete-btn {
  background-color:  #28a745;
}

button#delete-btn:hover {
  background-color: #c82333;
}

button#view-btn {
  background-color: #28a745;
}

button#view-btn:hover {
  background-color: #138496;
}
footer {
  background-color: #ff0000;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: relative;
  width: 100%;
  bottom: 0;
}
