
<div class="product-list">
  <div class="product-card">
    <img src="./assets/image/m2.webp" height="170px" width="110px" alt="Poco M2 Pro" class="product-image" />
    <h2>Poco M2 Pro</h2>
    <p>Processor:snapdragon 720G</p>
    <p>Rs.14999</p>
    <button (click)="addToCart({id: 1, name: 'Poco M2 Pro', price: 14999, description: 'Processor:snapdragon 720G', imageUrl: './assets/image/m2.webp'})">Add to Cart</button>
  </div>
  <div class="product-card">
    <img src="./assets/image/x6.webp" height="200px" width="130px" alt="Poco X6" class="product-image" />
    <h2>Poco X6</h2>
    <p>Processor:snapdragon 7s Gen 2</p>
    <p>Rs.19999</p>
    <button (click)="addToCart({id: 2, name: 'Poco X6', price: 19999, description: 'Processor:snapdragon 7s Gen 2', imageUrl: './assets/image/x6.webp'})">Add to Cart</button>
  </div>
  <div class="product-card">
    <img src="./assets/image/x6p.jpg" height="200px" width="130px" alt="Poco X6 Pro" class="product-image" />
    <h2>Poco X6 Pro</h2>
    <p>Processor:snapdragon 8 gen 1</p>
    <p>Rs.24999</p>
    <button (click)="addToCart({id: 3, name: 'Poco X6 Pro', price:24999, description: 'Processor:snapdragon 8 gen 1', imageUrl: './assets/image/x6p.jpg'})">Add to Cart</button>
  </div>
  <div class="product-card">
    <img src="./assets/image/f5.webp" height="200px" width="130px" alt="Poco F5" class="product-image" />
    <h2>Poco F5</h2>
    <p>Processor:snapdragon 8 gen 2</p>
    <p>Rs.29999</p>
    <button (click)="addToCart({id: 4, name: 'Poco F5', price: 29999, description: 'Processor:snapdragon 8 gen 2', imageUrl: './assets/image/f5.webp'})">Add to Cart</button>
  </div>
  <div class="product-card">
    <img src="./assets/image/f6.jpg" height="200px" width="130px" alt="Poco F6 Pro" class="product-image" />
    <h2>Poco F6 pro</h2>
    <p>Processor:snapdragon 8 gen 3</p>
    <p>Rs.35000</p>
    <button (click)="addToCart({id: 5, name: 'Poco F6 Pro', price: 35000, description: 'Processor:snapdragon 8 gen 3', imageUrl: './assets/image/f6.jpg'})">Add to Cart</button>
  </div>
</div>
